.av-layout-grid {
  position: relative;
  width:100%;
  height:100%;
  min-height: 40px;
  .av-box-size;
}


.av-layout-grid .lg-row {
  position: relative;
  width:100%;
  height:100%;
  .av-box-size;
}

.av-layout-grid .lg-col {
 float:left;
 .av-box-size; 
}

.av-layout-grid .lg-vsizer {
  position:absolute;
  top:0px;
  width:5px;
  height:100%;
  border-left:@dim-border;
  border-right:@dim-border;
  .av-box-size;  
}
