.av-property-grid {
  //height:100%;
  .av-stretch;
  font-weight:100;
  font-size:12px;
}

.av-property-grid td {
  vertical-align: top;
}

.av-property-grid td:first-child{
  font-weight:300;
}

.av-property-grid tr {

}

.av-property-grid .title {
  font-size:16px;
  font-weight: 100;
  margin-bottom:2px;
  margin-top:4px;
}

.av-property-grid .pg-editor {
  outline: none;
}

.av-property-grid .group {
  font-weight: 400;
  //background:@background;
  //color:@text;
  font-size:16px;
  margin-top:2px;
  margin-bottom:2px;
  padding:2px;
  //text-align:center;
}

.av-property-grid .stretch {
  width: 100%;
  .av-box-size;
}